/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Usando a mesma fonte do perfil */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #5E4AE3, #A76BA3); /* Mantendo o mesmo fundo */
    color: white; /* Cor do texto */
}

main {
    flex: 1; /* Conteúdo principal ocupa todo o espaço disponível */
    padding: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

#cadastro-form {
    max-width: 400px;
    width: 100%; /* Para ocupar toda a largura disponível */
    background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
}

h1 {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    color: #fff; /* Cor do título */
}

.float-label {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Cor dos rótulos */
}

input {
    width: 100%;
    padding: 10px; /* Aumentando o padding para conforto */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Borda padrão */
    margin-bottom: 10px; /* Espaçamento entre os campos */
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    width: 360px;
    background-color: #5E4AE3; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove bordas padrão */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

button:hover {
    background-color: #A76BA3; /* Cor de fundo ao passar o mouse */
}

p {
    text-align: center; /* Centraliza o texto */
    color: #fff; /* Cor do texto */
}

p a {
    color: #ffffff; /* Cor do link */
    text-decoration: none; /* Sublinhado para links */
}

p a:hover {
    color: #5E4AE3; /* Cor do link ao passar o mouse */
}
